@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Inter", sans-serif !important;
  background: #F6F6F6 !important;
  margin: 0;
  padding: 0 !important;
  overflow-y: scroll !important; }

a:hover {
  cursor: pointer; }

.container-mpp {
  padding: 24px !important; }

.button-mpp {
  background: #145D9C !important;
  color: #fff;
  text-transform: capitalize; }
  .button-mpp a {
    color: #fff;
    text-decoration: none; }

.button-outline-dashed {
  border: 1px dashed #145D9C !important;
  background: none;
  color: #145D9C;
  text-transform: capitalize; }
  .button-outline-dashed:hover {
    color: #fff; }

button {
  background: none; }

.button-outline-mpp {
  border: 1px solid #145D9C !important;
  color: #145D9C;
  text-transform: capitalize;
  background: none !important; }
  .button-outline-mpp a {
    color: #fff;
    text-decoration: none; }

.MuiBox-root {
  padding: 0; }
  .MuiBox-root .card-action {
    padding: 0; }

.form-input {
  display: grid;
  grid-template-columns: 15% 75%;
  gap: 220px;
  align-items: center;
  color: #52575C;
  margin: 20px 0; }
  .form-input .MuiFormControl-root {
    width: 700px; }
    .form-input .MuiFormControl-root .Mui-disabled {
      background: #d7d7d7; }
  .form-input .required {
    color: #145D9C; }
  @media screen and (max-width: 959px) {
    .form-input {
      grid-template-columns: 100%;
      align-items: flex-start;
      gap: 30px; }
      .form-input .MuiFormControl-root {
        width: 100%; }
      .form-input button {
        width: 100%; } }
  .form-input button {
    width: 700px;
    display: flex;
    align-items: center;
    gap: 10px; }

@media screen and (max-width: 599px) {
  .breadcrumb-navbar {
    display: none; } }

.breadcrumb-mobile {
  display: none; }
  @media screen and (max-width: 959px) {
    .breadcrumb-mobile {
      display: block; } }

.card-mpp {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: none !important; }
  .card-mpp .heading {
    margin: 0 0 30px 0; }
    .card-mpp .heading .action {
      margin: 10px 0;
      display: flex;
      justify-content: space-between; }
      .card-mpp .heading .action .button-mpp {
        width: 140px; }

.form-mpp {
  border: 1px solid #E8E8E8; }

.table-mpp {
  border: 1px solid #E8E8E8 !important;
  border-radius: 8px 8px 0px 0px !important; }
  .table-mpp .action {
    display: flex;
    gap: 20px; }
    .table-mpp .action svg {
      color: #8A92A6; }

.shadow-none {
  box-shadow: none !important; }

.card-action {
  margin: 20px 0 0 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 20px 0 0 0; }
  .card-action .action {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end; }
    .card-action .action svg {
      color: #8A92A6; }
    .card-action .action button {
      width: 100px; }

.text-underline {
  text-decoration: underline !important;
  color: #145D9C !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 180% !important;
  text-transform: capitalize !important; }

.sidebar-mpp .heading {
  display: flex;
  padding: 18px 0;
  align-items: center;
  justify-content: center; }
.sidebar-mpp .menu-mpp .menu span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%; }
.sidebar-mpp .menu-mpp .center {
  justify-content: center; }
.sidebar-mpp .menu-mpp:hover {
  background: #145D9C;
  color: #fff; }
  .sidebar-mpp .menu-mpp:hover svg {
    color: #fff; }

.navbar-mpp {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
  color: #000; }
  .navbar-mpp .info-login {
    display: flex;
    gap: 20px;
    align-items: center; }

.login-page {
  width: 100% !important;
  height: 100vh;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 599px) {
    .login-page {
      height: 100vh; } }
  .login-page .logo-area {
    display: flex;
    align-items: center;
    grid-gap: 10px; }
  .login-page .card-login {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }
    .login-page .card-login .form {
      margin: 20px 0; }
    .login-page .card-login .submit {
      padding: 20px 0; }
      .login-page .card-login .submit .button-mpp {
        width: 100%;
        color: #fff;
        padding: 10px 0; }

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0; }
  .not-found .info {
    margin: 20px;
    text-align: center; }
  .not-found .img-not-found {
    width: 50%; }

/*# sourceMappingURL=main.css.map */
