* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: $primary-font !important;
    background: #F6F6F6 !important;
    margin: 0;
    padding: 0 !important;

    overflow-y: scroll !important;
}

a {
    &:hover {
        cursor: pointer;
    }
}

.container-mpp {
    padding: 24px !important;
}

.button-mpp {
    background: $primary-color !important;
    color: #fff;
    text-transform: capitalize;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.button-outline-dashed {
    border: 1px dashed #145D9C !important;
    background: none;
    color: #145D9C;
    text-transform: capitalize;

    &:hover {
        color: #fff;
    }
}

button {
    background: none;
}

.button-outline-mpp {
    border: 1px solid $primary-color !important;
    color: $primary-color;
    text-transform: capitalize;
    background: none !important;

    a {
        color: #fff;
        text-decoration: none;
    }
}


.MuiBox-root {
    padding: 0;

    .card-action {
        padding: 0;
    }
}

.form-input {
    display: grid;
    grid-template-columns: 15% 75%;
    gap: 220px;
    align-items: center;
    color: #52575C;
    margin: 20px 0;

    .MuiFormControl-root {
        width: 700px;

        @include middle {
            width: 500px;
        }

        .Mui-disabled {
            background: #d7d7d7;
        }
    }

    .required {
        color: #145D9C;
    }

    @include lt-md {
        grid-template-columns: 100%;
        align-items: flex-start;
        gap: 30px;

        .MuiFormControl-root {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }

    button {
        width: 700px;
        display: flex;
        align-items: center;
        gap: 10px;

    }
}


.breadcrumb-navbar {
    @include lt-sm {
        display: none;
    }
}

.breadcrumb-mobile {
    display: none;

    @include lt-md {
        display: block;
    }
}

.card-mpp {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: none !important;

    .heading {
        margin: 0 0 30px 0;

        .action {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;

            .button-mpp {
                width: 140px;
            }

            @include lt-md {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}

.form-mpp {
    border: 1px solid #E8E8E8;
}

.table-mpp {
    border: 1px solid #E8E8E8 !important;
    border-radius: 8px 8px 0px 0px !important;

    .table-head-mpp {
        background: #F1F1F1;
        border-radius: 4px 4px 0px 0px;

    }

    .action {
        display: flex;
        gap: 20px;

        .button-outline-mpp {
            border: 1px solid #145D9C;
            border-radius: 4px;
            padding:10px 10px;
            a {
                color: $primary-color;
            }
        }

        svg {
            color: #8A92A6;
        }
    }
}

.shadow-none {
    box-shadow: none !important;
}

.card-action {
    margin: 20px 0 0 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    margin: 20px 0 0 0;

    .action {
        display: flex;
        gap: 20px;
        align-items: center;

        svg {
            color: #8A92A6;
        }

        justify-content: flex-end;

        button {
            width: 100px;
        }
    }
}



.text-underline {
    text-decoration: underline !important;
    color: #145D9C !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 180% !important;
    text-transform: capitalize !important;
}

.heading-dialog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg{
        color:#000;
    }
}

.MuiDataGrid-footerContainer {
    justify-content: flex-start !important;
    padding: 20px 0;

    button {
        margin: 0 5px;
    }

    .Mui-selected {
        border-radius: 5px;
    }

    .Mui-disabled {
        background: #ECECEC;
        border-radius: 5px;
    }

    .MuiPaginationItem-previousNext {
        background: #FFFFFF;
        border: 1px solid #BDBDBD;
        border-radius: 2px;
    }

}