* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: $primary-font  !important;
    background: #F6F6F6;
    margin: 0;
    padding: 0 !important;

    overflow-y: scroll !important;
}

.shadow-none{
    box-shadow: none!important;
}