.sidebar-mpp {
    .heading {
        display: flex;
        padding: 18px 0;
        align-items: center;
        justify-content: center;
    }

    .menu-mpp{
        .menu{
           span{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 175%;
           }
        }

        .center{
            justify-content: center;
        }
        &:hover{
            background: #145D9C;
            color:#fff;
            svg{
                color:#fff;
            }
        }
    }
}

.navbar-mpp{
    display: flex;
    justify-content: space-between;
    background:#fff!important;
    color:#000;
    
    .info-login{
        display: flex;
        gap: 20px;
        align-items: center;
    }
}